body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;   /* soft background */
}
body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}

/* ===== MAIN HEADER ===== */
.main-header {
    background: #1e3a8a;   /* dark blue */
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Profile Photo */
.header-photo {
    width: 100px;
    height: 100px;
    border-radius: 30%; /* makes it circular */
    object-fit: cover;
    border: 3px solid white;
    align: left;
}

/* Text Styling */
.header-text h1 {
    margin: 0;
    font-size: 20px;
}

.header-text h2 {
    margin: 5px 0;
}

.header-text p {
    margin: 0;
    font-style: italic;
}

/* ===== Layout container ===== */
.container {
    display: flex;
    gap: 20px;
    margin-top: 300px;
    padding: 20px;
}

/* ===== Left Nav ===== */
nav a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}
nav a:hover {
    color: #FFD700;
}

button:hover {
    background: #FFD700;
    cursor: pointer;
}

nav a:hover {
    color: #38bdf8;
}

nav {
    width: 20%;
    background: #1e293b;   /* navy */
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;

    position: fixed;
    top: 140px;
    left: 20px;
    height: 75vh;
    overflow-y: auto;
}

/* ===== Center Section ===== */
section {
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 15px;

    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* ===== Section inner parts ===== */
.section-header,
.section-footer {
    background: #e2e8f0;   /* light gray-blue */
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
}

article {
    background: #f1f5f9;   /* very soft blue */
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* ===== Right Aside ===== */
aside {
    width: 20%;
    background: #1e293b;   /* navy */
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;

    position: fixed;
    top: 140px;
    right: 20px;
    height: 75vh;
    overflow-y: auto;
}

/* ===== Footer ===== */
.main-footer {
    background: #1e3a8a;   /* dark blue */
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}
